# Application
APP_PORT=8000
API_GATEWAY_PORT=8080

# Database
POSTGRES_DB=smart_closet
POSTGRES_USER=garderobus
POSTGRES_PASSWORD=garderobus
DATABASE_URL=postgresql://garderobus:garderobus@db:5432/smart_closet

# Media storage
CLOTHES_IMAGE_DIR=clothes_images
MANNEQUIN_IMAGE_DIR=mannequins
