APP_NAME=AI Service
DATABASE_URL=postgresql+psycopg2://garderobus:garderobus@postgres:5432/ai_service
CELERY_BROKER_URL=pyamqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://
WARDROBE_SERVICE_URL=http://wardrobe_service:8000
