APP_NAME=Garderobus API Gateway
AUTH_SERVICE_URL=http://auth_service:8000
WARDROBE_SERVICE_URL=http://wardrobe_service:8000
WEATHER_SERVICE_URL=http://weather_service:8000
AI_SERVICE_URL=http://ai_service:8000
