fastapi
uvicorn
sqlalchemy
psycopg2
psycopg2-binary
pydantic
bcrypt
pyjwt
requests
openai
python-dotenv
pyuploadcare
httpx
httpx-socks
redis
prometheus-client
celery
python-json-logger
prometheus-fastapi-instrumentator
slowapi
pybreaker
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
